{% extends "post.html" %}

{% block post %}
<p>At the moment we have seen several special keys to move within the Vim text editor, for example the keys <span class="clarification">h, j, k or l</span> to move within the editor or <span class="clarification">u</span> to undo the last change you made to the document.</p>
<p>However the combinations of Vim are endless! There are dozens of special keys in each mode and these can be combined!</p>
<p>In this chapter we are going to look at some of the most used keys and combinations.</p>
<ol>
  <li class="v-li">- `: move to the last edit</li>
  <li class="v-li">- dw: deletes a word.</li>
  <li class="v-li">- d0: deletes the beginning of a line.</li>
  <li class="v-li">- dgg: deletes until the beginning of the file.</li>
  <li class="v-li">- dG: deletes until the end of the file.</li>
  <li class="v-li">- d$: deletes until the end of the line.</li>
  <li class="v-li">- Ctrl + r: redo the last undo.</li>
</ol>
<p>I invite you to investigate for yourself other key combinations in Vim.</p>
{% endblock post %}
