{% extends "post.html" %}

{% block post %}
<p>As we have said before, in the Vim text editor we do not have a mouse, the things that you would normally do with the mouse in any other text editor you cannot do.</p>
<p>To add grace to the matter, in a terminal (where we normally run Vim) we don't have any kind of button or anything like that. All the possible icons that we see are made with text.</p>
<p>This is why we have modes in Vim, as we cannot do everything we would normally do with a keyboard and a mouse with just a keyboard, we have to divide the editor into modes (or layers), so that the same keys have functions different</p>
<h2>The modes</h2>
<h3>Normal mode</h3>
<p>If you open a file in Vim, as we explained in <a href="{{ url_for('chapter', cid=3) }}">the third chapter</a>, you'll notice that you can't write anything in the file. If you press keys you will end up being able to write, even though you don't really know how you did it.</p>
<h1>CHAPTER STILL IN DEVELOPMENT</h1>
{% endblock post %}
