{% extends "layout.html" %}

{% block main %}
<h1>Pablo Corbalán</h1>
<p>I'm Pablo Corbalán, the author of this book and a high school student.</p>
<p>I have created this digital book with the intention of being able to teach how to use the vim text editor. Vim is a perfect text editor for people who want it to be perfect.</p>
<p>Check the code of this book <a href="https://github.com/pblcc/vimmasterguide">here</a>. Hit me on GitHub as <a href="https://github.com/pblcc">@pblcc</a>.</p>
{% endblock main %}
