{% extends "main.html" %}

{% block body %}
<header class="header">
  <div class="container"><a href="{{ url_for('index') }}" class="title font-mono">{{ bar }}<span class="blinking">/</span></a></div>
  <div class="container">
    <nav id="sections">
      <ul>
         <li><a href="{{ url_for('chapters') }}">Chapters</a></li>
         <li><a href="https://github.com/pblcc/vmg" target="_blank">Source</a></li>
      </ul>
    </nav>
  </div>
</header>
  <div id="page">
    <div class="container">
      <main class="medium">
        {% block main %}
        {% endblock main %}
      </main>
    </div>
  </div>
</body>
</html>
{% endblock body %}
