<!DOCTYPE html>
<html lang="en-EN">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="The complete Vim master guide, learn Vim free.">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">	
</head>
<body>
	<header class="header">
    <div class="container">
      <a href="{{ url_for('index') }}" class="title font-mono">{{ bar }}<span class="blinking">/</span></a>
    </div>
    <div class="container">
        <nav id="sections">
            <ul>
                <li>
                  <a href="{{ url_for('chapters') }}">Chapters</a>
                </li>
                <li>
                    <a href="https://github.com/PabloCorbCon/vmg" target="_blank">Source</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
  <div id="page">
    <div class="container">
      <main class="medium">
        {% block main %}
        {% endblock main %}
      </main>
    </div>
  </div>
</body>
</html>
