<!DOCTYPE html>
<html lang="en-EN">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% if d %}
  <meta name="description" content="{{ d }}">
  {% else %}
  <meta name="description" content="The complete Vim text editor guide: Vim Master Guide (VMG). Learn Vim today!!">
  {% endif %}
  <link rel="stylesheet" href="{{ url_for('static', filename='scss/style.scss') }}">	
  <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}">
  {% if title %}
  <title>{{ title }} · vim master guide</title>
  {% else %}
  <title>vim master guide</title>
  {% endif %}
</head>
<body>
  {% block body %}{% endblock body %}
</body>
</html>

